<div class="news-item" id="news_id_1">
    <div class="news-img left flex-block">
        <img src="http://irm-atom.ru/wp-content/uploads/2022/12/photo1671510202-e1671510386558.jpeg" alt="">
    </div>
    <div class="news-info">
        <div class="news-title"><a>Ученые АО “ИРМ” до конца 2022 года завершат основные испытания топлива для водородной энергетики</a></div>
        <div class="news-date small">12 февраля 2023</div>
    </div>
</div>
<div class="news-item" id="news_id_1">
    <div class="news-img left flex-block">
        <img src="http://irm-atom.ru/wp-content/uploads/2022/12/photo1671510202-e1671510386558.jpeg" alt="">
    </div>
    <div class="news-info">
        <div class="news-title"><a>Ученые АО “ИРМ” до конца 2022 года завершат основные испытания топлива для водородной энергетики</a></div>
        <div class="news-date small">12 февраля 2023</div>
    </div>
</div>
<div class="news-item" id="news_id_1">
    <div class="news-img left flex-block">
        <img src="http://irm-atom.ru/wp-content/uploads/2022/12/photo1671510202-e1671510386558.jpeg" alt="">
    </div>
    <div class="news-info">
        <div class="news-title"><a>Ученые АО “ИРМ” до конца 2022 года завершат основные испытания топлива для водородной энергетики</a></div>
        <div class="news-date small">12 февраля 2023</div>
    </div>
</div>