<% @posts.each do |post| %>
    <div class="post-item" id="post_id_1">
        <div class="post-img left flex-block">
        <% blob = ActiveStorage::Attachment.find_by(record_id: post.id) %>
            <%= link_to post_path(post.number), class: "left flex-block" do%>
                <% if blob.representable? %>
                    <%= image_tag blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [ 800, 600 ] : [ 1024, 768 ]) %>
                <% end %>
            <% end %>
        </div>
        <div class="post-info">
            <div class="post-title">
                <%= link_to post.title, post_path(post.number)%>
            </div>
            <div class="post-date small"><%= l(post.created_at, format: :long) %></div>
        </div>
    </div>
<% end %>
