<li>
    <div class="slider-item" id="slider-item-1">
        <div class="wrapper flex-wrapper">
            <div class="slider-item-text">
                <h2 class="slider-title">Металлообработка</h2> 
                <p>Экспериментально - механический цех АО «ИРМ» оказывает большой спектр услуг в области проектно-конструкторской документации. Основным направлением деятельности конструкторского отдела - экспериментально - механического цеха являются конструирование механизмов и проектирование инженерных систем разного уровня сложности.</p>
                <%= link_to root_path, class: "button-link" do %>
                    <div class="button button-primary button-default">Подробнее</div>
                <% end %>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="slider-item" id="slider-item-1">
        <div class="wrapper flex-wrapper">
            <div class="slider-item-text">
                <h2 class="slider-title">Металлообработка</h2> 
                <p>Экспериментально - механический цех АО «ИРМ» оказывает большой спектр услуг в области проектно-конструкторской документации. Основным направлением деятельности конструкторского отдела - экспериментально - механического цеха являются конструирование механизмов и проектирование инженерных систем разного уровня сложности.</p>
                <%= link_to root_path, class: "button-link" do %>
                    <div class="button button-primary button-default">Подробнее</div>
                <% end %>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="slider-item" id="slider-item-1">
        <div class="wrapper flex-wrapper">
            <div class="slider-item-text">
                <h2 class="slider-title">Металлообработка</h2> 
                <p>Экспериментально - механический цех АО «ИРМ» оказывает большой спектр услуг в области проектно-конструкторской документации. Основным направлением деятельности конструкторского отдела - экспериментально - механического цеха являются конструирование механизмов и проектирование инженерных систем разного уровня сложности.</p>
                <%= link_to root_path, class: "button-link" do %>
                    <div class="button button-primary button-default">Подробнее</div>
                <% end %>
            </div>
        </div>
    </div>
</li>