<%- title @page_title_text %>

<section class="section-admin section-gray">
    <div class="wrapper wrapper__flex_top">
        <%= render "sidebar" %>
        <% if params[:key].nil? %>
            asdasdasdad
        <% else %>
            <%= render "admin-" + params[:key].to_s %>
        <% end %>
    </div>
</section>