<%- title @page_title_text %>

<section class="section-posts">
    <div class="wrapper">
        <%= link_to logout_path, method: :delete, class: "button__link" do %>
            <div class="button button__primary">Выход</div>
        <% end %>
        <%= render "admin-posts" %>
        <%= render "admin-documents" %>
    </div>
</section>