<%- title @page_title_text %>

<section class="section-admin section_gray">
    <div class="wrapper flex_top_start">
        <%= render "sidebar" %>
        <% if params[:key].nil? %>
            <div class="admin-list">
            </div>
        <% else %>
            <%= turbo_frame_tag "admin-lists", src: control_panel_get_admin_list_path, loading: :lazy do %>
                <%= render "admin_" + params[:key].to_s %>
            <% end %>
        <% end %>
    </div>
</section>
