<section class="slider">
    <div class="slider-item" id="slider-item-1">
        <div class="wrapper">
            <div class="dark">
                <div class="slider-item-text">
                    <div class="slider-title">Металлообработка</div> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur minima ducimus soluta, asperiores adipisci similique consequuntur consectetur aut nostrum exercitationem totam iure maiores reprehenderit ut dicta maxime harum quo perferendis. Dolorum voluptate laudantium illo ex nostrum exercitationem dolorem, perspiciatis officiis?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" id="slider-item-2">
        <div class="wrapper">
            <div class="dark">
                <div class="slider-item-text">
                    <div class="slider-title">Реакторные технологии</div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque eaque a voluptates soluta animi obcaecati, placeat quisquam blanditiis minima dolorum nobis qui voluptatem laudantium corporis veritatis fuga, assumenda necessitatibus adipisci.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" id="slider-item-3">
    <div class="wrapper">
        <div class="dark">
            <div class="slider-item-text">
                <div class="slider-title">Материаловедческое направление</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse minus animi nobis repudiandae dolorum saepe reprehenderit, ratione consequuntur cupiditate soluta totam veniam, voluptas, eum quos? Omnis, dolor incidunt quos at ab asperiores.</p>
            </div>
        </div>
    </div>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</section>

<section class="news">
    <div class="wrapper">
        <h2 class="news-title title">Новости</h1>
        <div class="news">

        </div>
    </div>
</section>


    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("slider-item");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active-dot", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active-dot";
            setTimeout(showSlides, 10000); // Change image every 2 seconds
        }
    </script>
