<section class="slider">
    <ul>
        <%= render "slider" %>
    </ul>
</section>


<section>
    <div class="wrapper wrapper__flex_center">
        <div class="about-block left">
            <h2 class="about-block__title title">АО "ИРМ"</h2>
            <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique adipisci, reiciendis, commodi quisquam saepe deserunt ducimus, veniam maiores excepturi ab iure ea repudiandae distinctio quos voluptatum necessitatibus? Doloribus, voluptas culpa reiciendis magnam necessitatibus consectetur dicta asperiores vel harum blanditiis voluptates modi fugit aliquam iure. Fugit optio molestias, cum explicabo consequuntur quae, nostrum officiis libero harum aut, animi tenetur assumenda excepturi quidem earum enim rerum expedita at. Fuga possimus beatae illo labore sit, consequuntur aliquam, sequi error impedit odit corporis non unde iusto similique dolorem ad fugiat iure eaque architecto! Nobis officia minus atque non in repellendus sunt accusamus, adipisci consequatur?</p>
            <%= link_to root_path, class: "button__link" do %>
                <div class="button button__secondary button__default">Подробнее</div>
            <% end %>
        </div>
        <div class="post-block left">
            <div class="post-block__title title">
                <h4>Новости</h4>
                <div class="spost-block__subtitle">Если не новсти, то события</div>
            </div>
            <%= render "post" %>
            <%= link_to posts_path, class: "button__link" do %>
                <div class="button button__secondary button__small">Все новости</div>
            <% end %>
        </div>
    </div>
</section>

<section class="section-gray">
    <div class="activity-block wrapper wrapper__flex_around" style="gap: 20px;">
        <div class="activity-block__item">
            <h4 class="activity-block__item_title">Lorem, ipsum dolor.</h4>
            <p class="activity-block__item_text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="activity-block__item">
            <h4 class="activity-block__item_title">Lorem, ipsum.</h4>
            <p class="activity-block__item_text">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="activity-block__item">
            <h4 class="activity-block__item_title">Lorem, ipsum dolor.</h4>
            <p class="activity-block__item_text">Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
    </div>
</section>
