<section class="slider">
<ul>
    <li>
    <div class="slider-item" id="slider-item-1">
        <div class="wrapper slider-wrapper">
            <div class="slider-item-text">
                <h2 class="slider-title">Металлообработка</h2> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur minima ducimus soluta, asperiores adipisci similique consequuntur consectetur aut nostrum exercitationem totam iure maiores reprehenderit ut dicta maxime harum quo perferendis. Dolorum voluptate laudantium illo ex nostrum exercitationem dolorem, perspiciatis officiis?</p>
                <div class="button-primary">
                    <div class="button-text">Подробнее</div>
                </div>
            </div>
        </div>
    </div>
    </li>
    <li>
        <div class="slider-item" id="slider-item-2">
            <div class="wrapper slider-wrapper">
                <div class="slider-item-text">
                    <h2 class="slider-title">Реакторные технологии</h2>
                    <p> На базе АО «ИРМ» создается производство высокотехнологичной радиоизотопной продукции, полностью соответствующей мировым стандартам качества</p>
                    <div class="button-primary">
                        <div class="button-text">Подробнее</div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="slider-item" id="slider-item-3">
        <div class="wrapper slider-wrapper">
            <div class="slider-item-text">
                <h2 class="slider-title">Важное направление</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse minus animi nobis repudiandae dolorum saepe reprehenderit, ratione consequuntur cupiditate soluta totam veniam, voluptas, eum quos? Omnis, dolor incidunt quos at ab asperiores.</p>
                <div class="button-primary">
                    <div class="button-text">Подробнее</div>
                </div>
            </div>
        </div>
    </li>
</ul>
<i class="fa fa-chevron-left" aria-hidden="true"></i>



</section>


<section class="news">
    <div class="wrapper">
        <h2 class="news-title title">Новости</h1>
        <div class="news">

        </div>
    </div>
</section>

