<section class="slider">
    <ul>
        <%= render "slider" %>
    </ul>
</section>


<section>
    <div class="wrapper flex_center_center">
        <div class="b-about left">
            <h2 class="b-about__title title">АО "ИРМ"</h2>
            <p class="b-about__text text" align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique adipisci, reiciendis, commodi quisquam saepe deserunt ducimus, veniam maiores excepturi ab iure ea repudiandae distinctio quos voluptatum necessitatibus? Doloribus, voluptas culpa reiciendis magnam necessitatibus consectetur dicta asperiores vel harum blanditiis voluptates modi fugit aliquam iure. Fugit optio molestias, cum explicabo consequuntur quae, nostrum officiis libero harum aut, animi tenetur assumenda excepturi quidem earum enim rerum expedita at. Fuga possimus beatae illo labore sit, consequuntur aliquam, sequi error impedit odit corporis non unde iusto similique dolorem ad fugiat iure eaque architecto! Nobis officia minus atque non in repellendus sunt accusamus, adipisci consequatur?</p>
            <%= link_to root_url(subdomain: false), class: "button__link" do %>
                <div class="button button_secondary">Подробнее</div>
            <% end %>
        </div>
        <div class="b-post left">
            <div class="b-post__title title">
                <h4>Новости</h4>
                <p class="b-post__subtitle subtitle">Если не новсти, то события</p>
            </div>
            <%= render "post" %>
            <%= link_to posts_url(subdomain: false), class: "button__link" do %>
                <div class="button button_secondary">Все новости</div>
            <% end %>
        </div>
    </div>
</section>

<section class="section_gray">
    <div class="wrapper">
        <h2 class="title" style="text-align: center;">Lorem, ipsum dolor.</h2>
        <div class="b-activity flex_center_around" style="gap: 20px;" ">
            <div class="b-activity__item" id="b-activity__item_1">
                <div class="b-activity__content">                
                    <h4 class="b-activity__title">Lorem, ipsum dolor.</h4>
                    <p class="b-activity__text">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="b-activity__item" id="b-activity__item_2">
                <div class="b-activity__content">                
                    <h4 class="b-activity__title">Lorem, ipsum dolor.</h4>
                    <p class="b-activity__text">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="b-activity__item" id="b-activity__item_3">
                <div class="b-activity__content">                
                    <h4 class="b-activity__title">Lorem, ipsum dolor.</h4>
                    <p class="b-activity__text">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
    </div>
</section>
