<section class="slider">
    <ul>
        <%= render "slider" %>
    </ul>
</section>


<section>
    <div class="wrapper wrapper__flex_center">
        <div class="about-block left">
            <h2 class="about-block__title title">АО "ИРМ"</h2>
            <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique adipisci, reiciendis, commodi quisquam saepe deserunt ducimus, veniam maiores excepturi ab iure ea repudiandae distinctio quos voluptatum necessitatibus? Doloribus, voluptas culpa reiciendis magnam necessitatibus consectetur dicta asperiores vel harum blanditiis voluptates modi fugit aliquam iure. Fugit optio molestias, cum explicabo consequuntur quae, nostrum officiis libero harum aut, animi tenetur assumenda excepturi quidem earum enim rerum expedita at. Fuga possimus beatae illo labore sit, consequuntur aliquam, sequi error impedit odit corporis non unde iusto similique dolorem ad fugiat iure eaque architecto! Nobis officia minus atque non in repellendus sunt accusamus, adipisci consequatur?</p>
            <%= link_to root_url(subdomain: false), class: "button__link" do %>
                <div class="button button__secondary">Подробнее</div>
            <% end %>
        </div>
        <div class="post-block left">
            <div class="post-block__title title">
                <h4>Новости</h4>
                <div class="post-block__subtitle subtitle">Если не новсти, то события</div>
            </div>
            <%= render "post" %>
            <%= link_to posts_url(subdomain: false), class: "button__link" do %>
                <div class="button button__secondary">Все новости</div>
            <% end %>
        </div>
    </div>
</section>

<section class="section-gray">
    <div class="wrapper">
        <h2 class="title" style="text-align: center;">Lorem, ipsum dolor.</h2>
        <div class="activity-block wrapper__flex_around" style="gap: 20px;" ">
            <div class="activity-block__item" id="activity-block__item_1">
                <h4 class="activity-block__item_title">Lorem, ipsum dolor.</h4>
                <p class="activity-block__item_text">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="activity-block__item" id="activity-block__item_2">
                <h4 class="activity-block__item_title">Lorem, ipsum.</h4>
                <p class="activity-block__item_text">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="activity-block__item" id="activity-block__item_3">
                <h4 class="activity-block__item_title">Lorem, ipsum dolor.</h4>
                <p class="activity-block__item_text">Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>
    </div>
</section>
