<section class="slider">
    <ul>
        <%= render "slider" %>
    </ul>
</section>


<section>
    <div class="wrapper flex-wrapper">
        <div class="about-block left">
            <div class="about-item-text">
                <h2 class="about-title">АО "ИРМ"</h2> 
                <p>ЭАО «Институт реакторных материалов» — атомный центр Урала материаловедческого профиля, предприятие Блока по управлению инновациями Государственной корпорации по атомной энергии «Росатом». Институт начал свою деятельность в 1966 году с осуществления физического пуска реактора ИВВ-2.</p>
                <div class="button button-secondary button-default">Подробнее</div>
            </div>
        </div>
        <div class="news-block left">
            <div class="title">
                <h4>Новости</h4>
                <div class="subtitle">Если не новсти, то события</div>
            </div>
            <%= render "news" %>
            <div class="button button-secondary button-small">Все новости</div>
        </div>
    </div>
</section>