<%- title @page_title_text %>

<section class="section-posts section_gray">
    <div class="wrapper">
        <div class="login">
            <%= form_with scope: :sessions, url: sessions_path, data: {turbo: false}, class: 'login__form' do |form| %>
                <%= form.email_field :email, class: "label", placeholder: "Логин" %>
                <%= form.password_field :password, class: "label", placeholder: "Пароль" %>
                <%= form.submit "Войти", class: "button button_primary", style: "width: 100%" %>
            <% end %>
        </div>
    </div>
</section>
