<%= render "shared/alert", variable: @theme %>

<%- title @page_title_text %>

<section class="section-themes section_gray">
    <div class="wrapper">
        <%= render "form" %>
    </div>
</section>



