/*-------------------Header-------------------*/

.header {
    padding: 15px 0;
    box-shadow: 0 1px 2px var(--hamilton);
}

.b-header {
    height: 50px;
}

.logo {
    height: 100%;
}

.header__logo {
    height: 58px;
    margin-top: -4px;
}

.logo:hover {
    opacity: 85%;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: center;
    height: 100%;
}

.nav__item {
    line-height: 76px;
    font-weight: 300;
    padding: 0 13px;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.nav__link {
    height: 100%;
    display: inline-block;
    text-decoration: none !important;
}

.nav__item:hover {
    border-bottom: 4px solid var(--rocky);
    transition: all 0.1s ease-in-out;
}

.header__icon {
    color: var(--amelie);
    line-height: 20px;
}

.button__menu {
    margin-top: 5px !important;
    display: none !important;
}

.nav-small {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: var(--rocky);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.nav-small__item {
    padding: 16px 16px;
    text-align: right;

}

.nav-small__link {
    color: var(--amelie);
}

@media (max-width: 1023px) {

    .nav{
        display: none;
    }

    .button__menu{
        display: block !important;
    }

}
