<% if !cookies[:cookie_policy]  %>
    <div class="cookies">
        <div class="wrapper">
            <div class="left">Этот сайт использует cookies. Продолжая работу с сайтом, Вы выражаете своё согласие на обработку Ваших персональных данных. Отключить cookies Вы можете в настройках своего браузера</div>
            <%= button_to "Соглаен", sessions_accept_cookies_path, class: "button button__primary right", data: { turbo_frame: "cookies" } %>
        </div>
    </div>
<% end %>
