<header>
    <div class="wrapper">
        <div class="header">
            <div class="header-logo">
            <%= link_to root_path do %>
                <%= image_tag("logo.png", alt: "logo_irm", title: 'ИРМ', class: "header-logo-img") %>
            <% end %>
            </div>
            <ul class="header-menu">
                <li class="header-menu-item">О предприятии</li>
                <li class="header-menu-item">Партнерам</li>
                <li class="header-menu-item">Наука</li>
                <li class="header-menu-item">ПРодукция</li>
                <li class="header-menu-item">Документы</li>
                <li class="header-menu-item">Пресс-центр</li>
                <li class="header-menu-item">Карьера</li>
                <li class="header-menu-item">Обратная свзяь</li>
                <li class="header-menu-item">lorem</li>
            </ul> 
        </div>
    </div>
</header>