<section class="page-title">
    <div class="wrapper">
        <div class="page-tittle-text">
            <h2><%= page_title_text %></h2>
        </div>
        <div class="breadcrumbs">
                <% breadcrumbs.each do |crumb| %>
                    <span>
                        <% if crumb.link? %>
                            <%= link_to crumb.name, crumb.path, class: "breadcrumb-link" %>
                        <% else %>
                            <span class="breadcrumb-page">
                                <%= crumb.name %>
                            </span>
                        <% end %>
                    </span>
                <% end %>
        </div>
    </div>
</section>
