<div class="sidebar-block">
    <ul class="sidebar">
        <%= link_to posts_path, class: "sidebar__item_link" do %>
            <li class="sidebar__item">Yjdjcnb</li>
        <% end %>

    </ul>
</div>
