<% @news.each_with_index do |news, index| %>
    <tr>
        <td style="text-align: center;"><%= index + 1 %></td>
        <td><%= news.title %></td>
        <td><%= news.body %></td>
    </tr>
<% end %>