<%= render "shared/alert", variable: @document %>


<%- title @page_title_text %>

<section class="section-documents section_gray">
    <div class="wrapper">
        <%= render "form", post: @document, url: document_path(@document.page_title) %>
    </div>
</section>



