<%= render "shared/alert", variable: @document %>


<%- title @page_title_text %>

<section class="section-posts">
    <div class="wrapper">
        <%= render "form", post: @document, url: @document %>
    </div>
</section>



