.notifications{
    position: absolute;
    top: 20px;
    right: -400px;
    z-index: 1000;
    -webkit-animation: move 6s ease-in-out;
    animation: move 6s ease-in-out;
    transition: all 0.4s;
}

.notification {
    max-width: 360px;
    background-color: var(--amelie);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 12px 16px;
    box-shadow: 0 8px 32px 0 var(--hamilton);
}



.notification + .notification {
    margin-top: 16px;
}

.notification .notification__icon {
    margin-right: 16px;
}

@-webkit-keyframes move {
    0,
    5% {
        right: -360px;
    }
    15%,
    85% {
        right: 24px;
    }
    95%,
    100% {
        right: -360px;
    }
}

@keyframes move {
    0,
    5% {
        right: -360px;
    }
    15%,
    85% {
        right: 24px;
    }
    95%,
    100% {
        right: -360px;
    }
}


.notification .notification__icon i {
    font-size: 16px;
    vertical-align: middle;
}

.notification__error .notification__icon i {
    color: var(--fargo) !important;
}

.notification__success .notification__icon i {
    color: var(--matrix) !important;
}

.notification__info .notification__icon i {
    color: var(--rocky) !important;
}


.module-head-alert {
    color: var(--fargo) !important;
}
