<%- title @page_title_text %>


<section class="section-about section-gray" style="padding: 0;">
    <div class="wrapper wrapper__content">
        <div class="content">
            <div class="content-wrapper">
                <h5 class="content-title left"><%= @about.title %></h5>
            </div>
            <div class="content-wrapper">
                <%= @about.content %>
            </div>
        </div>
    </div>
</section>
