<%- title @page_title_text %>

<section class="section-about section_gray">
    <div class="wrapper flex_stretch_start">
        <%= render "shared/sidebar" %>
        <div class="about-list">
            <div class="content-wrapper about-content">
                <%= @about.content %>
            </div>
        </div>
    </div>
</section>
