<div class="post__flex">
    <% (1..3).each do %>
        <div class="line">
            <% (1..2).each do %>
                <div class="post-box-sceleton__item">
                    <div class="post-sceleton__item_img">
                        <div></div>
                    </div>
                    <div class="post-sceleton__item_details">
                        <div class="post-sceleton__item_title" style="width: <%= rand(70..100) %>%">
                            <div></div>
                        </div>
                        <span style="margin-top: 20px;"></span>
                        <span></span>
                        <span style="width: <%= rand(60..85) %>%"></span>
                        <div class="post-sceleton__item_date right">
                            <div></div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

