<% (1..5).each do %>
    <div class="post-sceleton__item animate-pulse">
        <div class="post-sceleton__item_img left flex-block">
            <div class="left flex-box"></div>
        </div>
        <div class="post-sceleton__item_details">
            <div class="post-sceleton__item_title" style="width: <%= rand(70..100) %>%">
                <div></div>
            </div>
            <span style="margin-top: 20px;"></span>
            <span></span>
            <span style="width: <%= rand(60..85) %>%"></span>
            <div class="post-sceleton__item_date">
                <div></div>
            </div>
        </div>
    </div>
<% end %>
