<%- title @page_title_text %>

<section class="section-post">
    <div class="wrapper">
        <div class="post-index">
        <%= turbo_frame_tag "posts" do %>
            <% render @posts %>
        <% end %>
        </div>
    </div>
</section>
