<%- title @page_title_text %>

<section class="section-post">
    <div class="wrapper wrapper__flex_top">
        <%= render "shared/sidebar" %>
        <div class="post-index">
        <%= turbo_frame_tag "posts", src: posts_get_posts_path, loading: :lazy do %>
            <%= render "post_sceleton" %>
        <% end %>
        </div>
    </div>
</section>
