<%= render "shared/alert", variable: @post %>


<%- title @page_title_text %>

<section class="section-posts">
    <div class="wrapper">
        <%= render "form", post: @post, url: @post %>
    </div>
</section>



