/*-------------------Layout-------------------*/

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: "Golos", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--harakiri);
    font-weight: 400;
    background-color: var(--trainspotting);
}


h2 {
    font-size: 48px;
    letter-spacing: -0.5px;
    font-weight: 500;
    line-height: 48px;
}

h3 {
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
}

h4 {
    font-size: 32px;
    letter-spacing: 0.25px;
    font-weight: 500;
    line-height: 32px;
}

h1, h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

h6 {
    font-size: 20px;
    letter-spacing: 0.15px;
    font-weight: 500;
    line-height: 20px;
}

a {
    color: var(--rocky);
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    font-weight: 500;
}

a:hover {
    color: var(--rockyHover);
    text-decoration: none;
}

a:active {
    color: var(--rockyPressed);
    text-decoration: none;
}

section {
    padding: 48px 0;
    min-width: 320px;
}

.page {
    min-height: calc(100% - 332px);
    margin-bottom: 332px;
    background-color: var(--amelie);
}

.wrapper {
    margin: auto;
    max-width: 1360px;
    width: 100%;
    padding: 0 20px;
    height: 100%;
    display: flow-root;
    min-width: 360px;
}


.flex_center_start {
    display: flex;
    align-items: center;
    Justify-content: flex-start;
}

.flex_top_start {
    display: flex;
    align-items: flex-start;
    Justify-content: flex-start;
}

.flex_stretch_start {
    display: flex;
    align-items: flex-start;
    Justify-content: stretch;
}

.flex_center_around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex_top_between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.flex_center_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}


.flex_center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 24px;

}

.subtitle {
    color: var(--metropolis);

}

.right {
    float: right;
}

.left {
    float: left;
}

.absolute {
    position: absolute;
}

.small {
    font-size: 13px;
    color: var(--metropolis);
    line-height: 16px;
}

.page-title {
    padding: 20px 0;
    background-color: var(--avengers);
}

.page-title:first-child {
    margin-top: 0;
}

.page-title__title {
    margin-bottom: 8px;
}

.breadcrumbs {
    font-size: 13px;
    color: var(--metropolis);
}

.breadcrumbs span {
    margin-right: 38px;
    position: relative;
}

.breadcrumbs span:last-child {
    margin-right: 0;
}


.breadcrumbs span::after {
    content: '';
    position: absolute;
    left: calc(100% + 10px);
    width: 16px;
    height: 1px;
    background: var(--metropolis);
    display: block;
    top: 50%;
}

.breadcrumbs span:last-child::after {
    content: none;
}

.content {
    line-height: 1.25;
    padding-top: 16px;
    background-color: var(--amelie);
    margin: auto;
    max-width: 900px;
}

.content-wrapper {
    max-width: 640px;
    padding: 0 16px;
    margin: auto;
}

.tags + .content__title{
    margin-top: 12px;
}

.content__title {
    word-wrap: break-word;
    margin-bottom: 16px;
    font-weight: 700;
}

.content__img {
    position: relative;
    margin: 16px 0;
}

.content__img_inside {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 900px;
}

.content__subtitle {
    line-height: 1.5;
}

.cookies {
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--alien);
    z-index: 1000;
}

.cookies__text {
    width: calc(90% - 100px);
    color: var(--amelie);
    font-weight: 400;
}

.section_gray {
    background-color: var(--trainspotting);
}

.disabled {
    cursor: default;
    opacity: .32;
    pointer-events: none;
}

.loading {
    -webkit-animation: keyframes-pulse 1.6s ease 0.4s infinite;
    animation: keyframes-pulse 1.6s ease 0.4s infinite;
}

@-webkit-keyframes keyframes-pulse {
    0% {
        opacity: 1
    }

    50% {
        opacity: .32
    }

    to {
        opacity: 1
    }
}

@keyframes keyframes-pulse {
    0% {
        opacity: 1
    }

    50% {
        opacity: .32
    }

    to {
        opacity: 1
    }
}


.menu {
    width: 100%;
    margin-bottom: 32px;
}

.sidebar {
    margin-right: 16px;
    width: 250px;
    padding: 48px 0;
}

.menu__item {
    margin-bottom: 2px;
}

.menu__body {
    cursor: pointer;
    height: 44px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    border-radius: var(--border-radius);
    text-decoration: none;
}

.menu__body:hover {
    background-color: var(--walleHover);
}

.menu__body:focus {
    background-color: var(--wallePressed);
}

.menu__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.menu__title,
.menu__icon {
    color: var(--troy) !important;
}

.menu__body:hover .menu__icon,
.menu__body:hover .menu__title {
    color: var(--harakiri) !important;
}

.menu__icon+.menu__title {
    margin-left: 12px;
}

.section-show {
    padding: 0;
}

.list_gray {
    background-color: var(--trainspotting);
}

div[class$="_show-content"] {
    max-width: 740px;
}

div[class$="_show-list"] {
    padding: 48px 0;
    background-color: var(--amelie);
    height: 100%;
    overflow-y: auto;
    width: calc(100% - 250px);
}

@media (max-width: 899px) {

    section {
        padding: 36px 0;
    }

    h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .title {
        margin-bottom: 16px;
    }

    .flex_center_center {
        flex-direction: column;
        gap: 32px;
    }

    .flex_center_around {
        flex-direction: column;
    }

    .flex_top_between {
        flex-direction: column;
        gap: 32px
    }
}