.section-about {
    padding: 0;
}

.sidebar-about {
    padding: 48px 0;
}

.about-list {
    padding: 48px 0;
    background-color: var(--amelie);
    height: 100%;
    overflow-y: auto;
    width: calc(100% - 250px);
}

.about-list_gray{
    background-color: var(--trainspotting);
}

.about-content{
    max-width: 740px;
}