/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
  width: 100%;
}

.trix-content blockquote {
  position: relative;
  border: none;
  padding-left: 0.8em;
}

.trix-content .attachment__caption .attachment__name + .attachment__size::before {
  content: none;
}

.trix-content .attachment__caption .attachment__name, .trix-content .attachment__caption .attachment__link i {
  margin-right: 8px;
}

.trix-content .attachment__caption .attachment__link {
  display: flex;
  align-items: center;
}

.trix-content .attachment__caption .attachment__link i {
  font-size: 32px;
  color: var(--red);
}

.trix-content blockquote::before{
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  border-radius: 2px;
  border-left: 4px solid var(--blue-clear);
}

figure .attachment__caption{
  font-style: italic;
}

.trix-content img {
  width: 100%;
}

.trix-content .attachment__caption {
  text-align: left;
}