.label {
    height: 40px;
    padding: 0 16px;
    border-radius: 8px;
    box-shadow: none;
    background-color: var(--django);
    color: var(--troy);
    font-weight: 500;
    margin-bottom: 16px;
    cursor: text;
}

.label:hover {
    box-shadow: none;
    background-color: var(--djangoHover);
}

.label:focus-within {
    box-shadow: none;
    background-color: var(--djangoHover);
}

input:nth-last-child(-n + 2) {
    margin-bottom: 32px;
}

.login {
    width: 300px;
    margin: 75px auto;
    padding: 16px;
    border-radius: var(--border-radius-2x);
    background-color: var(--amelie);
}

.login__form {
    display: flex;
    flex-direction: column;
}

.admin-list{
    width: 50%;
    padding: 12px;
    float: left;
}


.admin-list .title .create{
    font-size: 24px;
    color: var(--matrix)
}

.admin-list.title .create:hover{
    color: var(--matrixHover)
}

.admin-list.title .create:focus{
    color: var(--matrixPressed)
}

.admin-list__item {
    width: 100%;
    margin-bottom: 16px;
    min-height: 84px;
    padding: 12px 16px;
    background: var(--django);
    border-radius: var(--border-radius);
}

.admin-list__item:last-of-type {
    margin-bottom: 28px;
}
.admin-list__item_title {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.admin-list__item_title .edit i {
    color: var(--lebowski);
    margin-left: 4px;
}

.admin-list__item_title .edit i:hover {
    color: var(--lebowskiHover);
}

.admin-list__item_title .edit i:focus {
    color: var(--lebowskiPressed);
}

.admin-list__item_title .delete {
    color: var(--fargo);
    margin-left: 4px;
}

.admin-list__item_title .delete:hover {
    color: var(--fargoHover);
}

.admin-list__item_title .delete:focus {
    color: var(--fargoPressed);
}

.admin-list__item_info {
    width: calc(100% - 76px);
    display: inline-block;
}

.admin-list__item_img {
    height: 60px;
    width: 60px;
    border-radius: var(--border-radius);
    margin-right: 16px;
}

.admin-list__item_img a{
    height: 100%;
    width: 100%;
}

.admin-list__item_img a img {
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
}

.admin-list__item_img i {
    color: var(--alien);
    font-size: 60px;
}

.admin-list__item_img i:hover {
    color: var(--alienHover);
}

.admin-list__item_date {
    padding-top: 12px;
}