.section-admin{
    height: calc(100% - 121px);
}

.input {
    padding: 0 16px;
    border-radius: 8px;
    box-shadow: none;
    background-color: var(--django);
    color: var(--troy);
    font-weight: 500;
    margin-bottom: 16px;
    cursor: text;
    width: 500px;
}

.input:hover {
    box-shadow: none;
    background-color: var(--djangoHover);
    color: var(--harakiri);
}

.input:focus-within {
    box-shadow: none;
    background-color: var(--djangoHover);
    color: var(--harakiri);
}

.login {
    width: 300px;
    margin: 75px auto;
    padding: 16px;
    border-radius: var(--border-radius-2x);
    background-color: var(--amelie);
}

.login__form {
    display: flex;
    flex-direction: column;
}

.admin-list, .admin-form {
    padding: 16px;
    background-color: var(--amelie);
    border-radius: var(--border-radius-2x);
}

.admin-list{
    height: 100%;
}

.admin-list{
    overflow-y: auto;
    width: calc(100% - 250px);
}

.admin-list .title .create{
    font-size: 24px;
    color: var(--matrix)
}

.admin-list.title .create:hover{
    color: var(--matrixHover)
}

.admin-list.title .create:focus{
    color: var(--matrixPressed)
}

.admin-list__item {
    width: 100%;
    margin-bottom: 16px;
    min-height: 84px;
    padding: 12px 16px;
    background: var(--django);
    border-radius: var(--border-radius);
}

.admin-list__item:last-of-type {
    margin-bottom: 0;
}
.admin-list__item_title {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.admin-list__item_title .edit i {
    color: var(--lebowski);
    margin-left: 4px;
}

.admin-list__item_title .edit i:hover {
    color: var(--lebowskiHover);
}

.admin-list__item_title .edit i:focus {
    color: var(--lebowskiPressed);
}

.admin-list__item_title .delete {
    color: var(--fargo);
    margin-left: 4px;
}

.admin-list__item_title .delete:hover {
    color: var(--fargoHover);
}

.admin-list__item_title .delete:focus {
    color: var(--fargoPressed);
}

.admin-list__item_info {
    width: calc(100% - 76px);
    display: inline-block;
}

.admin-list__item_img {
    height: 60px;
    width: 60px;
    border-radius: var(--border-radius);
    margin-right: 16px;
}

.admin-list__item_img a{
    height: 100%;
    width: 100%;
}

.admin-list__item_img a img {
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
}

.admin-list__item_img i {
    color: var(--alien);
    font-size: 60px;
}

.admin-list__item_img i:hover {
    color: var(--alienHover);
}

.admin-list__item_date {
    padding-top: 12px;
}

.menu{
    width: 100%;
    margin-bottom: 32px;
}

.sidebar{
    margin-right: 16px;
    width: 250px;
}

.menu__item {
    margin-bottom: 2px;
}

.menu__body {
    cursor: pointer;
    height: 44px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
}

.menu__body:hover {
    background-color: var(--walleHover);
}

.menu__body:focus{
    background-color: var(--wallePressed);
}

.menu__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.menu__title, .menu__icon {
    color: var(--troy) !important;
}
.menu__body:hover .menu__icon,
.menu__body:hover .menu__title {
    color: var(--harakiri) !important;
}

.menu__icon + .menu__title {
    margin-left: 12px;
}

.form .button{
    margin-top: 32px !important;
}

.uploader {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.uploader.disabled {
    cursor: default;
    pointer-events: none
}

.uploader__attach {
    flex: 1 1 100%;
    width: 100%;
    cursor: pointer;
    padding: 16px;
    border-color: var(--metropolis);
    border-style: dashed;
    border-width: 1px;
    border-radius: 8px;
    margin-bottom: 0 !important;
}

.uploader__title {
    display: flex;
    align-items: center;
    justify-content: center
}

.uploader__title--text {
    color: var(--harakiri);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    -webkit-line-clamp: 1
}

.uploader__sub-title,.uploader__title--text {
    display: -webkit-box;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical
}

.uploader__sub-title {
    color: var(--metropolis);
    font-size: 13px;
    margin-top: 4px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
    -webkit-line-clamp: 2
}

.uploader__uploading {
    width: 100%;
    display: flex;
    padding: 16px;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-color: var(--avengers);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center
}

.uploader__line {
    top: 0;
    left: 0;
    width: 33%;
    bottom: 0;
    position: absolute;
    transition: width .3s ease-in-out;
    justify-self: flex-start;
    background-color: var(--avengers)
}

.uploader__uploading>span {
    color: var(--troy);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px
}

.uploader__sub-title.limit {
    color: var(--matrix)!important
}

.uploader__title i {
    color: var(--harakiri);
    margin-right: 8px
}

.uploader__attach input {
    display: none
}

.uploader__attach.hover,.uploader__attach:hover {
    border-color: var(--metropolisHover)
}

.uploader__attach.disabled {
    cursor: default;
    pointer-events: none
}

.uploader__attach.disabled i,.uploader__attach.disabled .uploader__sub-title,.uploader__attach.disabled .uploader__title>span {
    color: var(--inception)
}

.uploader__attach.hover i,.uploader__attach.hover .uploader__title--text,.uploader__attach:hover i,.uploader__attach:hover .uploader__title--text {
    color: var(--harakiriHover)
}

.uploader__attach.hover .uploader__sub-title,.uploader__attach:hover .uploader__sub-title {
    color: var(--metropolisHover)
}

.uploader:active .uploader__attach {
    border-color: var(--metropolisPressed)
}

.uploader:active .uploader__attach i,.uploader:active .uploader__attach .uploader__title--text {
    color: var(--harakiriPressed)
}

.uploader:active .uploader__attach .uploader__sub-title {
    color: var(--metropolisPressed)
}

.uploader.error>.uploader__attach {
    border-color: var(--fargo);
    border-style: dashed;
    border-width: 1px
}

.uploader.error>.uploader__attach .uploader__sub-title {
    color: var(--fargo)
}

.uploader.error>.uploader__attach.hover,.uploader.error>.uploader__attach:hover {
    border-color: var(--fargoHover)
}

.uploader.error>.uploader__attach:active {
    border-color: var(--fargoPressed)
}

.uploader.error>.uploader__attach.hover .uploader__sub-title,.uploader.error>.uploader__attach:hover .uploader__sub-title {
    color: var(--fargoHover)
}