/*-------------------Base-------------------*/

:root{
	--color: #202835;
    --color-clear: #555;
    --disabled: #C4C4C4;
    --border: #dedede;
    --background: #f2f2f2;

	--black: rgb(12, 20, 33);
    --white: #fff;
    --navy-blue: #2C2783;
    --blue: #006FFA;
    --blue-hover: #368EFC;
    --blue-clear: #006ffab3;
    --blue-light: #6BACFD;
    --blue-pale: #D6E9FF;
    --red: #fa0f00;


    /* --shadow: 1px 2px 9px rgba(0, 111, 250, 0.3); */
    --shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    --shadow-inset: inset 1px 2px 6px rgba(0, 0, 0, 0.3);


    --border-radius: 8px;
    --border-radius-2x: 16px;

    --vk: #2787F5;
    --telegram: #2AABEE; 

  
}