/*-------------------Base-------------------*/

:root{
	--color: #202835;
    --color-clear: #555;
    --disabled: #C4C4C4;
    --border: #dedede;
    --background: #f2f2f2;

	--black: rgb(12, 20, 33);
    --white: #fff;
    --navy-blue: #2C2783;
    --blue: #4480F3;
    --blue-hover: #578DF4;
    --blue-clear: #7DAFFC;
    --blue-light: #BCD6FE;
    --blue-pale: #D6E9FF;
    --red: #ff3c38;
    --orange: #ff8c42;
    --sceleton: #EEF2F5;


    /* --shadow: 1px 2px 9px rgba(0, 111, 250, 0.3); */
    --shadow: 1px 2px 6px #0C10181F;
    --shadow-inset: inset 1px 2px 6px #0C10181F;


    --border-radius: 8px;
    --border-radius-2x: 16px;

    --vk: #2787F5;
    --telegram: #2AABEE; 

  
}