/*-------------------Base-------------------*/

:root{
	--color: #202835;
    --color-clear: #555;
    --disabled: #C4C4C4;
    --border: #dedede;

	--black: rgb(12, 20, 33);
    --white: #fff;
    --navy-blue: #2C2783;
    --blue: #006FFA;
    --blue-clear: #006ffab3;
    --blue-light: #9FC7F7;


    /* --shadow: 1px 2px 9px rgba(0, 111, 250, 0.3); */
    --shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    --shadow-inset: inset 1px 2px 6px rgba(0, 0, 0, 0.3);


    --border-radius: 5px;

    --vk: #2787F5;
    --telegram: #2AABEE; 

  
}