/*-------------------Button-------------------*/

.button__link, .button__link:hover{
    text-decoration: none;
}

.button{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.button:active{
    transition: none;
}



.button__default{
    height: 50px;
    width: 235px;
    line-height: 50px;
}

.button__small{
    height: 40px;
    width: 165px;
    line-height: 40px;
}



.button__primary{
    background-color: var(--blue);
    border-radius: var(--border-radius);
    color: var(--white) !important;
}

.button__primary:hover{
    box-shadow: var(--shadow);
    background-color: var(--blue-hover);
}

.button__primary:active{
    box-shadow: var(--shadow-inset);
    background-color: var(--white) !important;
    color: var(--blue) !important;
}



.button__secondary{
    border: 1px solid var(--blue);
    border-radius: var(--border-radius);
    color: var(--blue) !important;
}

.button__secondary:hover{
    box-shadow: var(--shadow);
}

.button__secondary:active{
    box-shadow: var(--shadow-inset);
    background-color: var(--blue-hover) !important;
    color: var(--white) !important;
}