/*-------------------Document-------------------*/

.document__item {
    border-bottom: 1px solid var(--avengers);
    background-color: var(--amelie);
    border-radius: var(--border-radius);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.document__list{
    margin-bottom: 32px;
    display: none;
}

.document__item:last-child {
    margin-bottom: 0;
}

.document__content,
.document__item_file {
    display: inline-block;
}

.document__title + .document__title {
    padding-top: 8px;
}

.document__file {
    max-width: 210px;
    min-width: 140px;
    border-left: 2px solid var(--trainspotting);
    padding-left: 16px;
}

.document__icon {
    color: var(--fargo);
    font-size: 36px;
    width: 100%;
    text-align: center;
    padding-bottom: 4px;
}

.section-documents iframe {
    width: 100%;
    height: 900px;
    border: none;
}

.theme__title{
    cursor: pointer;
}

.theme__icon{
    font-size: 24px;
    color: var(--troy);
}


