/*-------------------Document-------------------*/

.section-documents .document__item {
    border-bottom: 1px solid var(--avengers);
    background-color: var(--amelie);
    border-radius: var(--border-radius);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.section-documents .document__item:last-child{
    margin-bottom: 0;
}

.section-documents .document__item .document__item_text,
.section-documents .document__item .document__item_file{
    display: inline-block;
}

.section-documents .document__item .document__item_text .document__item_title + p {
    padding-top: 8px;
}

.section-documents .document__item .document__item_file{
    max-width: 210px;
    min-width: 140px;
    border-left: 2px solid var(--trainspotting);
    padding-left: 16px;
}

.section-documents .document__item .document__item_file i{
    color: var(--fargo);
    font-size: 36px;
    width: 100%;
    text-align: center;    
    padding-bottom: 4px;
}

.section-documents iframe{
    width: 100%;
    height: 900px; 
    border: none;
}