/*-------------------Fonts-------------------*/

@font-face {
	font-family: 'MyriadPro';
	src: url('myriadpro-light.eot'); /* IE 9 Compatibility Mode */
	src: url('myriadpro-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('myriadpro-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('myriadpro-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('myriadpro-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('myriadpro-light.svg#myriadpro-light') format('svg'); /* Chrome < 4, Legacy iOS */
		
		font-weight: 300;
		font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('myriadpro-lightit.eot'); /* IE 9 Compatibility Mode */
	src: url('myriadpro-lightit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('myriadpro-lightit.woff2') format('woff2'), /* Super Modern Browsers */
		url('myriadpro-lightit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('myriadpro-lightit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('myriadpro-lightit.svg#myriadpro-lightit') format('svg'); /* Chrome < 4, Legacy iOS */

		font-weight: 300;
		font-style: italic
}


@font-face {
	font-family: 'MyriadPro';
	src: url('myriadpro-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('myriadpro-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('myriadpro-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('myriadpro-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('myriadpro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('myriadpro-regular.svg#myriadpro-regular') format('svg'); /* Chrome < 4, Legacy iOS */

		font-weight: 400;
		font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('myriadpro-it.eot'); /* IE 9 Compatibility Mode */
	src: url('myriadpro-it.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('myriadpro-it.woff2') format('woff2'), /* Super Modern Browsers */
		url('myriadpro-it.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('myriadpro-it.ttf') format('truetype'), /* Safari, Android, iOS */
		url('myriadpro-it.svg#myriadpro-it') format('svg'); /* Chrome < 4, Legacy iOS */

		font-weight: 400;
		font-style: italic	
}

@font-face {
	font-family: 'MyriadPro';
	src: url('myriadpro-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('myriadpro-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('myriadpro-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('myriadpro-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('myriadpro-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('myriadpro-semibold.svg#myriadpro-bold') format('svg'); /* Chrome < 4, Legacy iOS */

		font-weight: 600;
		font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('myriadpro-semiboldit.eot'); /* IE 9 Compatibility Mode */
	src: url('myriadpro-semiboldit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('myriadpro-semiboldit.woff2') format('woff2'), /* Super Modern Browsers */
		url('myriadpro-semiboldit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('myriadpro-semiboldit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('myriadpro-semiboldit.svg#myriadpro-boldit') format('svg'); /* Chrome < 4, Legacy iOS */

		font-weight: 600;
		font-style: italic
}

@font-face {
	font-family: 'MyriadPro';
	src: url('myriadpro-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('myriadpro-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('myriadpro-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('myriadpro-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('myriadpro-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('myriadpro-bold.svg#myriadpro-bold') format('svg'); /* Chrome < 4, Legacy iOS */

		font-weight: 700;
		font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('myriadpro-boldit.eot'); /* IE 9 Compatibility Mode */
	src: url('myriadpro-boldit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('myriadpro-boldit.woff2') format('woff2'), /* Super Modern Browsers */
		url('myriadpro-boldit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('myriadpro-boldit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('myriadpro-boldit.svg#myriadpro-boldit') format('svg'); /* Chrome < 4, Legacy iOS */

		font-weight: 700;
		font-style: italic
}
@font-face {
	font-family: 'MyriadPro';
	src: url('myriadpro-black.eot'); /* IE 9 Compatibility Mode */
	src: url('myriadpro-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('myriadpro-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('myriadpro-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('myriadpro-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('myriadpro-black.svg#myriadpro-black') format('svg'); /* Chrome < 4, Legacy iOS */

		font-weight: 900;
		font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('myriadpro-blackit.eot'); /* IE 9 Compatibility Mode */
	src: url('myriadpro-blackit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('myriadpro-blackit.woff2') format('woff2'), /* Super Modern Browsers */
		url('myriadpro-blackit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('myriadpro-blackit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('myriadpro-blackit.svg#myriadpro-blackit') format('svg'); /* Chrome < 4, Legacy iOS */

		font-weight: 900;
		font-style: italic;
}





