@font-face {
	font-family: 'Golos';
	src: font-url('Golos_Regular/Golos_Regular.eot');
	src:
		font-url('Golos_Regular/Golos_Regular.eot?#iefix') format('embedded-opentype'),
		font-url('Golos_Regular/Golos_Regular.woff2') format('woff2'),
		font-url('Golos_Regular/Golos_Regular.woff') format('woff'),
		font-url('Golos_Regular/Golos_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Golos';
	src: font-url('Golos_Bold/Golos_Bold.eot');
	src:
		font-url('Golos_Bold/Golos_Bold.eot?#iefix') format('embedded-opentype'),
		font-url('Golos_Bold/Golos_Bold.woff2') format('woff2'),
		font-url('Golos_Bold/Golos_Bold.woff') format('woff'),
		font-url('Golos_Bold/Golos_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}