/*-------------------Header-------------------*/

header{
    padding: 20px 0;
    border-bottom: 1px solid var(--border);
}

.header{
    height: 50px;
}

.header-logo{
    height: 100%;
    float: left;
    padding-right: 25px;
}

.header-logo-img{
    height: 100%;
}

.header-logo:hover{
    opacity: 75%;
}

.header-menu{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    text-transform: uppercase;
    height: 100%;
}

.header-menu-item{
    line-height: 20px;
    font-weight: 600;
    font-size: 18px;
}

.header-menu-item:hover{
    color: var(--blue);

}