/*-------------------Header-------------------*/

header{
    padding: 15px 0;
    box-shadow: 0 1px 2px rgba(45,73,68,.15);
}

.header{
    height: 50px;
}

.header__logo{
    height: 100%;
    float: left;
    padding-right: 25px;
}

.header__logo-img{
    height: 58px;
    margin-top: -4px;
}

.header__logo:hover{
    opacity: 85%;
}

.header__menu{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: distribute;
    justify-content: flex-end;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    height: 100%;
}

.header__menu_item{
    line-height: 76px;
    font-weight: 300;
    padding: 0 13px;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.header__menu_item a{
    height: 100%;
    display: inline-block;
    text-decoration: none !important;
    color: var(--blue) !important;
}

.header__menu_item:hover{
    border-bottom: 4px solid var(--blue);
}

