/*-------------------Layout-------------------*/

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color);
    font-weight: 300;
}

h1{
    font-size: 96px;
    letter-spacing: -1.5px;
    font-weight: 300;
}

h2{
    font-size: 60px; 
    letter-spacing: -0.5px;
    font-weight: 300;
}

h3{
    font-size: 48px; 
    font-weight: 400;
}

h4{
    font-size: 34px; 
    letter-spacing: 0.25px;
    font-weight: 400;
}

h5{
    font-size: 24px; 
    font-weight: 400;
}

h6{
    font-size: 20px; 
    letter-spacing: 0.15px;
    font-weight: 500;
}

a{
    color: var(--blue);
    text-decoration: underline var(--blue);
}

section{
    padding: 50px 0;
    min-width: 320px;
}

.wrapper{
    margin: auto;
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    height: 100%;
    display: flow-root;
}

.flex-wrapper{
    display: flex;
    align-items: center;
    Justify-content: flex-start;
}

.title{
    margin-bottom: 30px;

}

.subtitle{
    color: var(--color-clear);

}

.right{
    float: right;
}

.left{
    float: left;
}

.button:active{
    transition: none;
}
.button:active .button-text{
    transition: none;
}

.button-default{
    height: 50px;
    width: 235px;
}

.button-small{
    height: 40px;
    width: 135px
}

.button-default .button-text{
    line-height: 50px;
}

.button-small .button-text{
    line-height: 40px;
}



.button-primary{
    background-color: var(--blue);
    border-radius: var(--border-radius);
}

.button-primary:hover{
    box-shadow: var(--shadow);
}

.button-primary:active{
    box-shadow: var(--shadow-inset);
    background-color: var(--white) !important;
    color: var(--color) !important;
}



.button-secondary{
    background-color: var(--white);
    border: 1px solid var(--color);
    border-radius: var(--border-radius);
}

.button-secondary:hover{
    box-shadow: var(--shadow);
}

.button-secondary:active{
    box-shadow: var(--shadow-inset);
    background-color: var(--color) !important;
}



.button-text{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white) !important;
}

.button-secondary .button-text{
    color: var(--color) !important;
}

.button-secondary:active .button-text{
    color: var(--white) !important;
}

.button-primary:active .button-text{
    color: var(--color) !important;
}

.small{
    font-size: 12px;
    color: var(--color-clear)
}