/*-------------------Layout-------------------*/

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color);
    font-weight: 400;
}

h1{
    font-size: 96px;
    letter-spacing: -1.5px;
    font-weight: 300;
}

h2{
    font-size: 60px; 
    letter-spacing: -0.5px;
    font-weight: 300;
}

h3{
    font-size: 48px; 
    font-weight: 400;
}

h4{
    font-size: 34px; 
    letter-spacing: 0.25px;
    font-weight: 400;
}

h5{
    font-size: 24px; 
    font-weight: 400;
}

h6{
    font-size: 20px; 
    letter-spacing: 0.15px;
    font-weight: 500;
}

a{
    color: var(--blue);
}

a:hover{
    color: var(--blue);
    text-decoration: underline var(--blue);
}

section{
    padding: 20px 0;
    min-width: 320px;
}

.wrapper{
    margin: auto;
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    height: 100%;
}

.title{
    text-align: center;
    margin-bottom: 20px;

}

.right{
    float: right;
    text-align: right;
}

.left{
    float: left;
    text-align: left;
}

.button-primary{
    height: 50px;
    background-color: var(--blue);
    width: 235px;
    border-radius: var(--border-radius);
}

.button-primary:hover{
    box-shadow: var(--shadow);
}

.button-primary:active{
    box-shadow: var(--shadow-inset);
}

.button-text{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
}