.section-leader {
    padding: 0;
}

.sidebar-leader {
    padding: 48px 0;
}

.leader-list {
    padding: 48px 0;
    background-color: var(--amelie);
    height: 100%;
    overflow-y: auto;
    width: calc(100% - 250px);
}