/*-------------------MAIN-PAGE-------------------*/

/*-------------------Slider-main-------------------*/

.slider{
    height: 400px;
    padding: 0;
}

.slider-item{
    height: 100%;
    display: none;
    background-size: cover !important;
}

#slider-item-1{
    background: url(slider-1.png) no-repeat center center;
}

#slider-item-2{
    background: url(slider-2.png) no-repeat center center;
}

#slider-item-3{
    background: url(slider-3.png) no-repeat center center;
}

.dark{
    padding: 13px;
    max-width: 50%;
    background-color: var(--dark-background);
    margin-left: 30px;
    margin-top: 30px;
    color: var(--color-white);
    border-radius: var(--border-radius);
}

.slider-title{
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 48px;

}

.slider-item-text>p{
    line-height: 28px;
}

/*.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}*/
  
  .active-dot {
    background-color: var(--border);
  }


/*-------------------news-------------------*/

.news{

}

.news-item{
    display: block;
    padding: var(--news-padding);
    border-radius: var(--border-radius);
    color: var(--color-white);
    position: relative;
    background-size: cover !important;
}
