/*-------------------MAIN-PAGE-------------------*/

/*-------------------Slider-main-------------------*/



.slider, .slider-item{
    height: 600px;
    padding: 0;
}

.slider-item{
    background-size: cover !important;

}

.slider-wrapper{
    display: flex;
    align-items: center;
    Justify-content: flex-start;
}

#slider-item-1{
    background: url(slider-1.png) no-repeat center center;
}

#slider-item-2{
    background: url(slider-2.png) no-repeat center center;
}

#slider-item-3{
    background: url(slider-3.png) no-repeat center center;
}

.slider-item-text{
    max-width: 60%;
    color: var(--color-white);
}

.slider-title{
    margin-bottom: 28px;

}

.slider-item-text p{
    line-height: 28px;
    margin-bottom: 24px;
    max-width: 70%;
}



/*-------------------News-------------------*/

.news{

}

.news-item{
    display: block;
    padding: var(--news-padding);
    border-radius: var(--border-radius);
    color: var(--color-white);
    position: relative;
    background-size: cover !important;
}
