/*-------------------POST-------------------*/

/*-------------------Main-Page-------------------*/

.b-post {
    width: 40%;
    padding: 16px 0 16px 32px;
    border-left: 2px solid var(--rocky);
}

.post {
    width: 100%;
}

.line {
    display: inline-block;
    width: 25%;
}

.post__flex {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
}

.post__item,
.post-sceleton__item {
    min-height: 190px;
    margin-bottom: 20px;
    border-radius: var(--border-radius-2x);
    float: left;
    padding: 16px;
    position: relative;
    background-color: var(--amelie);
    width: 100%;
}

.post__item:last-of-type {
    margin-bottom: 28px;
}

.post__item_style_small {
    width: 100%;
    margin-bottom: 16px;
    min-height: 84px;
    padding: 12px 16px;
    background: var(--django);
    border-radius: var(--border-radius);
}

.post__content,
.post-sceleton__content {
    display: inline-block;
    width: 100%;
    padding-top: 16px;
}

.post__content_style_small {
    width: calc(100% - 76px);
    display: inline-block;
    padding: 0;
}

.post__img {
    height: 225px;
    width: 100%;
}

.post__img_style_small {
    height: 60px;
    width: 60px;
    margin-right: 16px;
}

.post__link-img {
    height: 100%;
    width: 100%;
}

.post__img_inside {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
    border-radius: var(--border-radius);
}

.post__title,
.post-sceleton__title {
    margin-bottom: 12px;
}

.post__title_style_small {
    margin: 0;
}

.post__text {
    line-height: 1.25;
    width: 100%;
}

.post__info {
    padding-top: 8px;
}

.post__date_padding {
    padding: 4px 12px;
    background-color: var(--arrival);
    border-radius: var(--border-radius-2x);
    color: var(--rocky);
    font-weight: 400;
}

/*-------------------Sceleton-------------------*/

.post-sceleton__img {
    background-color: var(--django);
    border-radius: var(--border-radius-2x);
}

.post-sceleton__img {
    height: 225px;
    width: 100%;
}

.post-sceleton__title {
    height: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--django);
}

.post-sceleton__content span {
    background-color: var(--django);
    height: 16px;
    border-radius: 16px;
    display: block;
    margin-bottom: 8px;
}

.post-sceleton__info {
    margin-top: 8px;
    height: 20px;
    width: 130px;
    background-color: var(--django);
    border-radius: 20px;
}

/*-------------------Hot-Best-------------------*/

.tag {
    font-weight: 500;
    padding: 4px 12px;
    top: 24px;
    left: 24px;
    border-radius: var(--border-radius-2x);
    display: inline-block;
}

.tag_fargo {
    color: var(--fargo);
    background-color: var(--romance);
}

.tag_fargo .tag__icon {
    color: var(--indiana);
}

.tag_rocky {
    color: var(--rocky);
    background-color: var(--arrival);
}

.tag_rocky .tag__icon {
    color: var(--alien);
}

.tag__icon {
    margin-right: 4px;
}

.tag+.tag {
    top: 56px
}

/*-------------------Post-Show-------------------*/


.post-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 12px;
}


.plank {
    cursor: pointer;
    display: inline-flex;
    padding: 12px;
    min-height: 56px;
    border-radius: var(--border-radius-2x);
    background-color: var(--django);
}

.plank__title {
    color: var(--rir-troy);
    font-size: 16px;
    line-height: 20px
}

.plank__title {
    color: var(--troy);
}

.plank:hover .plank__title {
    color: var(--harakiri);
}

.plank__subtitle,
.plank__title {
    display: -webkit-box;
    overflow: hidden;
    font-weight: 500;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1
}

.plank__action,
.plank__subtitle {
    color: var(--metropolis);
    font-size: 13px;
    line-height: 16px;
}

.plank__action {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

.plank:hover {
    background-color: var(--djangoHover);
}

.plank:active {
    background-color: var(--django);
}

.post__nav {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.post__nav_prev {
    text-align: right;
}

.post__nav_next .plank__action {
    margin-left: 12px;
}

.post__nav_prev .plank__action {
    margin-right: 12px;
}

.post__nav_next .plank__content {
    margin-left: 8px;
}

.post__nav_prev .plank__content {
    margin-right: 8px;
}

.plank__action {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

.plank__img_inside {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
    border-radius: 50%;
}

.plank__img {
    height: 100%;
    width: 100%;
}

.plank__icon {
    width: 32px;
    height: 32px;
    margin-top: 2px;
}

.plank:hover .plank__action,
.plank:hover .plank__action * {
    color: var(--troy)
}

@media (max-width: 899px) {

    .b-post {
        width: 100%;
        padding: 0;
        border-left: none;
    }

    .wrapper__content {
        padding: 0;
    }

}