/*-------------------POST-------------------*/

/*-------------------General-------------------*/
.content .post-date {
    padding: 0;
}

.content .post-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 12px;
}

.post-block__item_img a,
.post__item_img a {
    height: 100%;
    width: 100%;
}

.post-block__item_img a img,
.post-index .post__item_img a img {
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
}

.post-block__item_date {
    padding-top: 12px;
}

.post-index .post-box__item_date,
.post-index .post__item_date,
.content .post-details div {
    padding: 4px 12px;
    background-color: var(--arrival);
    border-radius: var(--border-radius-2x);
    color: var(--rocky);
    font-weight: 400;
}


/*-------------------Main-Page-------------------*/

.post-block {
    width: 40%;
    padding: 16px 0 16px 30px;
    border-left: 2px solid var(--rocky);
}

.post-block__item {
    width: 100%;
    margin-bottom: 16px;
    min-height: 84px;
    padding: 12px 16px;
    background: var(--django);
    border-radius: var(--border-radius);
}

.post-block__item:last-of-type {
    margin-bottom: 28px;
}

.post-block__item_info {
    width: calc(100% - 76px);
    display: inline-block;
}

.post-block__item_img {
    height: 60px;
    width: 60px;
    border-radius: var(--border-radius);
    margin-right: 16px;
}


/*-------------------Post-Index-box-------------------*/

.post-index {
    width: 100%;
}

.post-index .post-box__item .post__item_title,
.post-index .post-box-sceleton__item .post-sceleton__item_title {
    margin-bottom: 12px;
}

.post-index .post-box__item .post__item_img,
.post-index .post-box-sceleton__item .post-sceleton__item_img {
    height: 225px;
    width: 300px;
}

.post-index .post-box__item .post__item_img a {
    height: 100%;
    width: 100%;
}

.post-index .post-box__item .post__item_img a img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 225px;
    border-radius: var(--border-radius-2x);
}

.post-index .post-box__item .post__item_details span {
    line-height: 1.25;
    width: 100%;
}

.post-index .post-box__item .post__item_details,
.post-index .post-box-sceleton__item .post-sceleton__item_details {
    display: inline-block;
    width: 100%;
    padding-top: 16px;
}


.post-index .post-box__item,
.post-index .post-box-sceleton__item {
    min-height: 190px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--avengers);
    border-radius: var(--border-radius-2x);
    float: left;
    padding: 16px;
    position: relative;
    background-color: var(--amelie);
}

.post__flex {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
}

.line {
    display: inline-block;
    width: 25%;
}
/*-------------------Sceleton-------------------*/

.post-index .post-sceleton__item_img div {
    width: 100%;
    background-color: var(--django);
    height: 100%;
    border-radius: var(--border-radius-2x);
}

.post-index .post-sceleton__item_title div {
    height: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--django);
}

.post-index .post-sceleton__item_details span {
    background-color: var(--django);
    height: 16px;
    border-radius: 16px;
    display: block;
    margin-bottom: 10px;
}

.post-index .post-sceleton__item_date {
    padding-top: 10px;
}

.post-index .post-sceleton__item_date div {
    height: 20px;
    width: 130px;
    background-color: var(--django);
    border-radius: 20px;
}

.post-index .post__item_date {
    margin-top: 8px;
}

.post__hot,
.post__best {

    font-weight: 500;
    padding: 4px 12px;
    top: 24px;
    left: 24px;
    border-radius: var(--border-radius-2x);
}

.post-index .post__hot,
.post-index .post__best {
    position: absolute;
}


.post__hot {
    color: var(--fargo);
    background-color: var(--romance);
}

.post__hot i {
    color: var(--indiana);
}

.post__best {
    color: var(--rocky);
    background-color: var(--arrival);
}

.post__best i {
    color: var(--alien);
}

.post__hot i,
.post__best i,
.content .post-views i {
    margin-right: 4px;
}

.post-index .post__hot + .post__best {
    top: 56px
}


/*-------------------Post-Show-------------------*/

.content .post__hot,
.content .post__best {
    display: inline-block;
}

.content .post__best i,
.post-index .post__best i {
    color: var(--rocky);
}

.plank {
    cursor: pointer;
    display: inline-flex;
    padding: 12px;
    min-height: 56px;
    border-radius: var(--border-radius-2x);
    background-color: var(--django);
}

.plank__title {
    color: var(--rir-troy);
    font-size: 16px;
    line-height: 20px
}

.plank__title {
    color: var(--troy);
}

.plank:hover .plank__title {
    color: var(--harakiri);
}

.plank__subtitle,
.plank__title {
    display: -webkit-box;
    overflow: hidden;
    font-weight: 500;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1
}

.plank__action,
.plank__subtitle {
    color: var(--metropolis);
    font-size: 13px;
    line-height: 16px;
}

.plank__action {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

.plank:hover {
    background-color: var(--djangoHover);
}

.plank:active {
    background-color: var(--django);
}

.post__nav {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.post__nav_prev {
    text-align: right;
}

.post__nav_next .plank__action {
    margin-left: 12px;
}

.post__nav_prev .plank__action {
    margin-right: 12px;
}

.post__nav_next .plank__content {
    margin-left: 8px;
}

.post__nav_prev .plank__content {
    margin-right: 8px;
}

.plank__action {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

.plank__image img {
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
}

.plank__image {
    height: 100%;
    width: 100%;
}

.plank__icon {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: inline-flex;
    margin-top: 2px;
}

.plank:hover .plank__action,
.plank:hover .plank__action * {
    color: var(--troy)
}
