/*-------------------ROOT-------------------*/

:root{

/*-------------------Color-------------------*/

    --harakiri: #1D222A;
    --harakiriLight: #EAECF0;
    --harakiriHover: #0D2F7C;
    --harakiriPressed: #164CC0;
    --troy: #525760;
    --troyHover: #0D2F7C;
    --troyPressed: #164CC0;
    --metropolis: #80858E;
    --metropolisHover: #6482C4;
    --metropolisPressed: #406CD0;
    --metropolisOpacity: #80858EA3;
    --inception: #D4D5D9;
    --inceptionHover: #C9CACF;
    --inceptionPressed: #DFDFE2;
    --rocky: #4480F3;
    --rockyHover: #578DF4;
    --rockyPressed: #3173F2;
    --rockyOpacity: #4480F3A3;
    --matrix: #5FAD05;
    --matrixHover: #6AC106;
    --matrixPressed: #549905;
    --matrixOpacity: #5FAD05A3;
    --lebowski: #E78018;
    --lebowskiHover: #E98A2A;
    --lebowskiPressed: #D57616;
    --lebowskiOpacity: #E78018A3;
    --fargo: #E35454;
    --fargoHover: #E66666;
    --fargoPressed: #E04343;
    --fargoOpacity: #E35454A3;
    --alien: #7DAFFC;
    --alienHover: #4480F3;
    --drive: #8CCE5A;
    --snatch: #F5AB61;
    --indiana: #FB9898;

/*-------------------Background-------------------*/

    --amelie: #FFFFFF;
    --amelieDark: #1D222A;
    --apocalypse: #EAECF0;
    --trainspotting: #F5F6F8;
    --trainspottingDark: #121721;
    --arrival: #E2ECFD;
    --amadeus: #E3F3D8;
    --romance: #FDE7E7;
    --jaws: #F8EADB;
    --avengers: #4480F31F;
    --avengersHover: #4480F314;
    --avengersPressed: #4480F329;
    --walle: #AAAEB61F;
    --django: #D4D5D952;

/*-------------------Shadow-------------------*/

    --hamilton: #0C10181F;

/*-------------------Size------------------*/

    --border-radius: 8px;
    --border-radius-2x: 16px; 

/*-------------------Brands------------------*/

    --vk: #2787F5;
    --telegram: #2AABEE; 

  
}