<%= render "shared/alert", variable: @product %>

<%- title @page_title_text %>

<section class="section-product section_gray">
    <div class="wrapper">
        <%= render "form", product: @product, url: @product %>
    </div>
</section>



