<%- title @page_title_text %>

<section class="section-show section_gray">
    <div class="wrapper flex_stretch_start">
        <%= render "shared/sidebar", controller: @products %>
        <div class="product_show-list">
            <div class="content-wrapper product_show-content">
                <%= @product.content %>
            </div>
        </div>
    </div>
</section>
 