<%= render "shared/alert", variable: @science %>

<%- title @page_title_text %>

<section class="section-science section_gray">
    <div class="wrapper">
        <%= render "form", science: @science, url: science_path(@science.page_title) %>
    </div>
</section>



